@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: 0;
}

body,
html{
    background-color: rgb(92, 92, 92);
}
.back{
    width: 13.5vw;
    height: 56vh;
    border-radius: 40px;
    background-color: black;
    margin: 8rem auto;
    justify-items: center;
    align-content: center;
    border: 2px solid rgb(164,183,199);

& .img1{
        width: 13vw;
        height:auto;
        object-fit: cover;
        padding: 0 0.5rem;
}
}


.container{
    margin-top:4rem;
}
.raw{

    margin: 0.8rem 0;
    
}

.input{
    width: 12vw;
    height: 7vh;
    font-size: 2rem;
    text-align: right;
    /* background-color: black;
    border: 1px solid black;
    color: rgb(255, 255, 255); */
    color: black;
    justify-content: center;
}

.btnc{
    width: 110px;
    height: 50px;
    background-color: rgb(165, 165, 165);
    color: black;
    border-radius: 25px;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 0 0.2rem;
    cursor: pointer;
    
}

.btn0{
    width: 50px;
    height: 50px;
    background-color: rgb(165, 165, 165);
    color: black;
    border-radius: 50%;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 0 0.2rem;
    cursor: pointer;
}
.btn1{
    width: 50px;
    height: 50px;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 0 0.2rem;
    cursor: pointer;
    
}

.btny{
    width: 50px;
    height: 50px;
    background-color: rgb(255,159,17);
    color: black;
    border-radius: 50%;
    font-size: 1.8rem;

    font-family: sans-serif;
    margin: 0 0.2rem;
    cursor: pointer;
}