@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: 0;
}

body,
html {
    background-color: rgb(92, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back {
    width: 280px;
    height: 550px;
    border-radius: 40px;
    background-color: black;
    border: 2px solid rgb(164, 183, 199);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: relative;

    & .img1 {
        width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
    }
}


.container {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.raw {
    display: flex;
    justify-content: space-between;


}

.input {
    width: 95%;
    height: 70px;
    font-size: 2.2rem;
    text-align: right;
    border-radius: 12px;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.1s ease, filter 0.1s ease;
}

.btnc {
  width: 110px;
  border-radius: 35px;
  background: rgb(165, 165, 165);
  color: black;
}


.btn0 {
  background: rgb(165, 165, 165);
  color: black;
}

.btn1 {
  background: rgb(50, 50, 50);
  color: white;
}


.btny {
  background: rgb(255, 159, 17);
  color: black;
  font-size: 1.8rem;
}

button:active {
  transform: scale(0.9);
  filter: brightness(1.2);
}
